@import "tailwindcss";
/* @import "@tailwindcss/utilities"; */




:root {
  --dark: #131313;
  --light: #838383;
  --secondary: #F2B636;
  --bg1:#F8F7F0;
  --bg2: #F9F4DC;
}


::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background-color: var(--bg2);
  max-block-size: .5rem;
}

::-webkit-scrollbar-corner {
  background-color: var(--bg2);
}

button,a{
  cursor: pointer;
}

@layer utilities {
  /* no-spiner class */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* color variables */
  @theme inline {
    --color-secondary: var(--secondary);
    --color-dark: var(--dark);
    --color-light: var(--light);
    --color-bg1: var(--bg1);
    --color-bg2: var(--bg2);
  }

  /* font-family */
 .playfair-display {
    font-family: "Playfair Display", serif;
 }

  body {
    font-family: "lato", sans-serif;
  }

  /* max-width for all screens */
  .max_screen {
    max-width: 1600px;
    margin-inline: auto;
  }

  /* max-width for all three screens {xxl, xl, lg, md, sm} */
  .max-width {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 768px) {
    .max-width {
      max-width: 600px;
      margin-inline: auto;
      padding-inline: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .max-width {
      max-width: 900px;
      margin-inline: auto;
      padding-inline: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .max-width {
      max-width: 1100px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }

  @media (min-width: 1400px) {
    .max-width {
      max-width: 1200px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }

  @media (min-width: 1500px) {
    .max-width {
      max-width: 1300px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}